
    :root {
        --light-green: #B0D77E;
        --green: #66AD00;
        --white: #FFFFFF;
        --font-family: 'Poppins', sans-serif;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: var(--font-family);
    }

    body, html {
        height: 100%;
    }

    .container {
        display: flex;
        height: 100vh;
    }

    .sidebar {
        background-color: var(--white);
        padding: 20px;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .logo {
        width: 120px;
        margin-bottom: 20px;
    }

    .nav-buttons {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        padding: 10px 0;
    }

    .nav-btn, .logout-btn {
        width: 100%;
        padding: 10px 0;
        border: 2px solid var(--green);
        background-color: var(--white);
        color: var(--green);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    ::placeholder {
        color: var(--green);
    }

    .nav-btn, .nav-btn:focus, .nav-btn:active {
        text-decoration: none;
    }

    .nav-btn:hover, .logout-btn:hover {
        background-color: var(--green);
        color: var(--white);
    }

    .selected {
        background-color: var(--green);
        color: var(--white);
    }

    .logout-btn {
        margin-top: auto;
        background-color: var(--green);
        color: var(--white);
        border: none;
    }

    .logout-btn:hover {
        background-color: var(--white);
        color: var(--green);
        border: 2px solid var(--green);
    }

    .main-content {
        flex-grow: 1;
        background-color: var(--light-green);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: var(--white);
        padding: 30px;
        border-radius: 10px;
        width: 450px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        position: relative;
    }

    .form-group input {
        width: 100%;
        padding: 10px 40px;
        border: 2px solid var(--green);
        border-radius: 5px;
        font-size: 16px;
        color: var(--green);
    }

    .form-group input[readonly] {
        background-color: transparent;
        color: var(--green);
        border: 2px solid var(--green);
        border-radius: 5px;
        cursor: not-allowed;
    }

    .form-group input::placeholder {
        color: var(--green);
    }

    .form-group .icon {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        font-size: 24px;
        color: var(--green);
    }

    .toggle-password {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 24px;
        color: var(--green);
    }

    .submit-btn {
        padding: 10px;
        border: none;
        background-color: var(--green);
        color: var(--white);
        font-weight: bold;
        font-size: 16px;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }


    #logout-form {
        width: 100%;
        text-align: center;
    }

    .logout-btn {
        margin-top: auto;
        background-color: var(--green);
        color: var(--white);
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 20px;
        width: 100%;
        display: inline-block;
        text-align: center;
        transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    }

    .logout-btn:hover {
        background-color: var(--white);
        color: var(--green);
        border: 2px solid var(--green);
    }

    .logout-btn:focus {
        outline: none;
    }